header.header
  .wrapper
    .header__info
      h1.header__tittle
        a(href="#")
          img(src="img/logo.png", alt="", srcset="")
      .header__bar 
        h3.header__info--name Arthur Wood
        img(src="img/Avatar.png", alt="", srcset="")
        a(href="#", class='header__more') V
        img(src="img/notifications.svg", alt="", srcset="")
        img(src="img/share recap.svg", alt="", srcset="")
        img(src='img/medium.svg' alt='')
    ul.header__list
      li.active feed
      li explore
      li discussion
    .header__cycle 
      a(href="#") 
        img(src="img/Oval.png", alt="", srcset="")
        div +
    
