main.main
  .wrapper
    .main__user
      .main__info
        img(src="img/UserPhoto.png", alt="", srcset="")
        .main__container
          h2.main__name  Benjamin <br/> Clementine 
          img(src="img/icon_3dots.svg",class='main__more' alt="", srcset="")
          ul.main__menu
            div.main__flex
              img(src="img/icon_edit.svg", alt="", srcset="")
              li Report User
            div.main__flex
              img(src="img/icon_delete.svg", alt="", srcset="")
              li Block User
          p.main__link @benclementine
          img(src="img/edit icon.svg", alt="", srcset="",class='main__editor')
          div.main__info--profile Edit Profile
      .main__statistic
          .main__synth
            h3 45 <br/>
            p Synth
          .main__synth
            h3 110 <br/>
            p followers
          .main__synth
            h3 45 <br/>
            p following
      p.main__text Cryptocurrencies including Ethereum, Ripple, and Litecoin have all plunged between 20 to 30 percent each, according to CoinMarketCap. Here is the latest Ripple price news and live updates on XRP, bitcoin and Ethereum.
    .main__news
      .main__switcher
        p Public
        .main__switcher--container
          .main__switcher--cycle
        p Private
      .main__feeds
        .main__item
          h1.main__item--tittle New air routers that promise cheap fights in
          .main__item--footer
            .main__item--cycle
            p.main__item--name Georgy Watckins
            a(href="#", class='main__item--link') Share
        .main__item
          h1.main__item--tittle New air routers that promise cheap fights in
          .main__item--footer
            .main__item--cycle
            p.main__item--name Georgy Watckins
            a(href="#", class='main__item--link') Share
        .main__item
          h3.main__item--shared Shared to #discussionaboutanimgttdsd...
          h1.main__item--tittle New air routers that promise cheap fights in
          .main__item--footer
            .main__item--cycle
            p.main__item--name Georgy Watckins
            .main__item--popular
              img(src="img/icon_play.svg", alt="", srcset="")
              p 88
              img(src="img/icon_like.svg", alt="", srcset="")
              p 24
        .main__item
          h3.main__item--shared <img class='main__item--icon' src="img/icon_link copy.png">Shared to via weblink
          h1.main__item--tittle New air routers that promise cheap fights in
          .main__item--footer
            .main__item--cycle
            p.main__item--name Georgy Watckins
            .main__item--popular
              img(src="img/icon_play.svg", alt="", srcset="")
              p 88
              img(src="img/icon_like.svg", alt="", srcset="")
              p 24

            